<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'push'">
    <mat-list role="list" class="main_menu">
      <mat-list-item>
        <span class="material-icons" color="primary">apps</span>
        <a routerLink="/productos" routerLinkActive="active">Productos</a>
      </mat-list-item>
      <mat-list-item>
        <span class="material-icons" color="primary">category</span>
        <a routerLink="/categorias" routerLinkActive="active">Categorias</a>
      </mat-list-item>
      <mat-list-item>
        <span class="material-icons" color="primary">
            shopping_cart
        </span>
        <a routerLink="/cart" routerLinkActive="active">Carrito</a>
      </mat-list-item>
      <mat-list-item *ngIf="loggued" (click)="logOut()">
        <span class="material-icons" color="primary">logout</span>
        <a class="category_container__section2--delete">Cerrar Sesión</a>
      </mat-list-item>
     </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="toolbar" role="banner">
      <button mat-raised-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      </button>
    </div>
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
