.page-title{
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 16px;
}
.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 8px 0px 8px;
  box-sizing: border-box;
  background-color: #ffffff32;
  app-producto {
    width: calc(50% - 2px);
    border: 1px solid white;
  }

}
.search_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search_field{
    background-color: white;
    border-radius: 5px;
    display: flex;
    width: 80%;
    padding-left: 8px;
    padding-right: 8px;
    &__input{
      width: 100%;
      padding: 8px 8px;
      border: 0;
      outline: none;
    }
  }
}
