<h1 class="page-title">Categorias</h1>
<!--
  <div class="categories">
    <app-item-categoria  *ngFor="let item of [1,2,3,4, 5,6,7,8,9]" ></app-item-categoria>
  </div>
-->

<mat-accordion class="categories">
  <mat-expansion-panel *ngFor="let item of categories" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="category_container__section1">
          <mat-checkbox appClickStopPropagation class="example-margin" color="primary" *ngIf="!isEditable">
          </mat-checkbox>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="category_container__section2" *ngIf="!isEditable">
      <button class="category_container__section2--delete" (click)="editCategory(item.id)">Eliminar</button>
      <button class="category_container__section2--edit" (click)="deleteCategory(item.id)">Editar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
