@use '@angular/material' as mat;

$ardukit-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
    tertiary: mat.$green-palette,
  ),
  typography: (
    brand-family: 'Roboto',
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($ardukit-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
